@import "variables.scss";

.navbar-nav {
    padding: 10px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(137, 87, 250, 0.2705882353);

    .nav-link {
        color: $black;
    }
}

.hero-section {
    padding-top: 200px;
    padding-bottom: 140px;
    overflow: hidden;

    @media (max-width: 991px) {
        padding-top: 140px;
        padding-bottom: 0px;
    }

    .hero-bg-img {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;

        @media (max-width: 1850px) {
            width: 43.5%;
        }

        @media (max-width: 1699px) {
            width: 41.5%;
        }

        @media (max-width: 1564px) {
            width: 40%;
        }

        @media (max-width: 1466px) {
            width: 39%;
        }

        @media (max-width: 1399px) {
            width: 46%;
        }

        @media (max-width: 1299px) {
            width: 44%;
        }

        @media (max-width: 1199px) {
            width: 52.5%;
        }

        @media (max-width: 991px) {
            width: 55%;
        }

        @media (max-width: 768px) {
            width: 60%;
        }

        @media (max-width: 575px) {
            width: 75%;
        }
    }

    .main-banner {
        position: absolute;
        z-index: -1;

        img {
            width: 100%;

            @media (max-width: 768px) {
                width: 70%;
            }

            @media (max-width: 575px) {
                width: 50%;
            }
        }

        &.banner-img-1 {
            top: 12%;
            left: 0%;
            animation: movetopbounce 5s linear infinite;
        }

        &.banner-img-2 {
            top: 20%;
            left: 20%;
            animation: zoom-in 3s linear infinite;
        }

        &.banner-img-3 {
            top: 14%;
            left: 35%;
            transform: translateY(-10%) translateX(-35%);
            animation: moveleftbounce 5s linear infinite;
        }

        &.banner-img-4 {
            bottom: 20%;
            left: 8%;
            animation: zoom-in 3s linear infinite;
        }

        &.banner-img-5 {
            bottom: 15%;
            left: 40%;
            animation: movetopbounce 5s linear infinite;
        }

        &.banner-img-6 {
            top: 16%;
            right: 10%;
            animation: zoom-in 5s linear infinite;
        }

        &.banner-img-7 {
            bottom: 15%;
            right: 3%;

            animation: moveleftbounce 5s linear infinite;
        }

        &.banner-img-8 {
            top: 30%;
            right: 0%;
            text-align: right;
            animation: movetopbounce 5s linear infinite;
        }
    }
}

.zoom-in-zoom-out {
    animation: zoom-in-zoom-out 3s ease-out infinite;
}

.features-section {
    .section-heading {
        h2 {
            &::after {
                width: 50%;
                left: 0;
            }
        }
    }

    .feature-slider {
        .slick-list {
            overflow: visible;
            clip-path: inset(-100vw -100vw -100vw 0);
            padding-bottom: 100px;

            @media (max-width: 991px) {
                padding-bottom: 50px;
            }

            .feature-card {
                min-height: 319px;
                margin: 0 20px;
                border-radius: 20px;
                padding: 40px 20px;
                box-shadow: 0 20px 50px rgba(129, 122, 142, 0.1);

                @media (max-width: 768px) {
                    margin: 0 10px;
                }

                &:hover {
                    .card-img {
                        background-color: $white;
                        border: 1px solid $primary;
                        box-shadow: 0 0 20px #f3f3ff;
                    }
                }

                .card-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80px;
                    height: 80px;
                    min-width: 80px;
                    border-radius: 50%;
                    border: 1px solid #f3f3ff;
                    background-color: #f3f3ff;
                    margin-bottom: 25px;
                    transition: all 0.3s ease;
                }

                .card-body {
                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }

        .slick-arrow {
            top: -103px;

            @media (max-width: 991px) {
                top: -83px;
            }

            @media (max-width: 575px) {
                top: -78px;
            }

            &.prev-arrow {
                right: 70px;

                @media (max-width: 575px) {
                    right: 55px;
                }
            }

            &.next-arrow {
                right: 0;
            }
        }
    }
}

.modern-interface-section {
    .interface-card {
        .interface-img {
            position: relative;
            max-width: 500px;
            max-height: 300px;
            border-radius: 20px;
            margin: 0 auto;
            img {
                border-radius: 20px;
                max-width: 500px;
                max-height: 300px;
                border-radius: 20px;
                object-fit: cover;
            }
            &:hover {
                &::before {
                    top: -8px;
                    left: -8px;
                }
            }

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 20px;
                border: 2px solid $primary;
                top: 8px;
                left: 8px;
                transition: all 0.3s ease;
            }
        }

        .card-desc {
            .card-text {
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}

.pricing-plan-section {
    .pricing-slider {
        .slick-list {
            padding: 0 !important;
            margin: 0;
        }

        .pricing-card {
            max-width: 400px;
            margin: 0px 20px;
            padding: 30px;
            border: 1px solid $gray-200;
            border-radius: 20px;

            @media (max-width: 1199px) {
                margin: 0 15px;
            }

            @media (max-width: 768px) {
                margin: 0 10px;
            }

            @media (max-width: 575px) {
                margin: 0 auto;
            }

            .card-title {
                font-size: 28px;
            }

            .price {
                font-size: 40px;
            }

            .pricing-plan-list {
                min-height: 375px;
                height: 100%;

                li {
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &.active-check {
                        .check-box {
                            background-color: $black;
                            color: $white;
                        }
                    }

                    &.unactive-check {
                        color: $gray-100;

                        .check-box {
                            background-color: $gray-100;
                            color: $white;
                        }
                    }

                    .check-box {
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        border-radius: 50%;
                        font-size: 14px;
                        margin-right: 20px;
                        text-align: center;
                    }
                }
            }

            .btn-gray {
                font-size: 20px;
                max-width: 240px;
                height: 60px;
                width: 100%;
            }
        }

        .slick-current {
            .pricing-card {
                border: 2px solid $primary;

                .price {
                    color: $primary;
                }

                .btn-gray {
                    background-color: $primary;
                    color: $white;
                }
            }
        }

        .slick-dots {
            position: relative;
            bottom: -30px;

            li {
                margin: 0;

                button {
                    padding: 0;

                    &:before {
                        font-size: 30px;
                        opacity: 1;
                        color: $gray-200;
                    }
                }

                &.slick-active {
                    button {
                        &:before {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

.testimonial-section {
    .testimonial-slider {
        .testimonial-card {
            position: relative;
            padding: 40px 80px 80px 80px;
            background-color: $white;
            border-radius: 20px;
            margin: 50px 30px;
            border-bottom: 5px solid $primary;
            border-right: 5px solid $primary;

            @media (max-width: 991px) {
                padding: 40px 60px 60px 60px;
            }

            @media (max-width: 768px) {
                padding: 40px;
            }

            @media (max-width: 575px) {
                padding: 30px;
            }

            .quote-img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 110px;
                height: 110px;
                min-width: 110px;
                border-radius: 50%;
                background-color: $white;
                border: 10px solid #f3f3ff;
                position: absolute;
                left: -20px;
                top: -50px;

                @media (max-width: 991px) {
                    width: 90px;
                    height: 90px;
                    min-width: 90px;
                }

                @media (max-width: 575px) {
                    width: 75px;
                    height: 75px;
                    min-width: 75px;
                }

                img {
                    @media (max-width: 991px) {
                        width: 60%;
                    }

                    @media (max-width: 575px) {
                        width: 50%;
                    }
                }
            }

            .profile-img {
                width: 120px;
                height: 120px;
                min-width: 120px;
                border-radius: 50%;
                border: 5px solid $primary;
                position: absolute;
                bottom: -50px;
                right: -25px;
                overflow: hidden;

                @media (max-width: 991px) {
                    width: 100px;
                    height: 100px;
                    min-width: 100px;
                }

                @media (max-width: 575px) {
                    width: 80px;
                    height: 80px;
                    min-width: 80px;
                }
            }

            .profile-desc {
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    max-width: 200px;
                    width: 100%;
                    height: 1px;
                    background-color: $gray-200;

                    @media (max-width: 375px) {
                        max-width: 150px;
                    }
                }
            }

            .profile-text {
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;

                @media (max-width: 575px) {
                    font-size: 15px;
                }
            }
        }

        .slick-arrow {
            bottom: 0px;

            &.prev-arrow {
                right: 53%;
            }

            &.next-arrow {
                position: relative;
                left: 51%;
            }
        }
    }
}

.contact-section {
    .contact-img {
        max-width: 530px;
        margin: 0 auto;
        position: relative;
    }

    .contact-form {
        border: 1px solid $gray-200;
        border-radius: 20px;
        padding: 40px;

        @media (max-width: 575px) {
            padding: 25px;
        }

        .submit-btn {
            max-width: 340px;
            height: 60px;
        }
    }
}
