#dashboardWeeklyUserBarChartContainer {
    #dashboardWeeklyUserBarChart {
        max-height: 320px !important;
    }
}

#incomeChartCanvas {
    #dashboardIncomeChart {
        max-height: 320px !important;
    }
}

.ql-editor {
    font-family: Poppins, Helvetica, sans-serif !important;
    font-size: 14px !important;
}

.ql-editor.ql-blank::before {
    font-style: unset !important;
}
.btn-group-toggle input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.btn-group-toggle input[type="radio"]:checked + label {
    color: #fff;
}
.btn-group-toggle input[type="radio"]:checked + label,
.btn-group-toggle input[type="radio"]:focus + label {
    background-color: #019aff;
    border: 1px solid #019aff !important;
    border-radius: 0.3rem;
}
.btn-group-toggle label {
    border: 1px solid #dee2e6 !important;
    border-radius: 0.475rem;
    display: inline-block;
    font-family: sans-serif, Arial;
    font-size: 12px;
    padding: 8.15px 17.225px;
}

@media (min-width: 501px) {
    .swal-modal {
        width: 381px !important;
    }
}

.product_url {
    word-break: break-word;
}

.withdraw-approval-dropdown {
    min-width: 186px !important;
    transition: unset !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.flatpickr-disabled {
    color: #ced4da !important;
}

// Flip E-Card
.flip-box-vertical {
    background-color: transparent;

    .flip-box-inner {
        width: 300px;
        height: 500px;
        margin: auto;
    }
    &:nth-child(even) {
        .flip-box-inner {
            transform: rotateY(180deg) !important;
            &:hover {
                transform: rotateY(0deg) !important;
            }
        }
    }
}
.flip-box-vertical img {
    width: 100%;
    height: 500px;
}
.flip-box-vertical img:hover {
    cursor: pointer;
}
.flip-box-vertical:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-h {
    background-color: transparent;
    width: 500px;
    height: 300px;
    &:nth-child(even) {
        .flip-box-inner {
            transform: rotateY(180deg);
            &:hover {
                transform: rotateY(0deg);
            }
        }
    }
}
.flip-box-h img {
    width: 500px;
    height: 300px;
}
.flip-box-h img:hover {
    cursor: pointer;
}
.flip-box-h:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
    background-color: transparent;
    color: black;
}

/* Style the back side */
.flip-box-back {
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
}

.nav-tabs-1 .nav-item-1 .nav-link-1.active,
.nav-tabs-1 .nav-item-1 .nav-link-1:hover {
    background: #e0e3ff;
    border-left-color: #6571ff;
    color: #212529;
}

.nav-tabs-1 .nav-item-1 .nav-link-1 {
    border-left: 5px solid transparent;
    padding-left: 1.25rem !important;
    padding-right: 1.563rem !important;
    color: #6c757d !important;
    border-radius: 0;
}
.form-check-input {
    min-width: 1.563em;
}
.action-btn {
    .dropdown-menu {
        li {
            display: flex;
        }
    }
}
.table-responsive {
    overflow-x: unset !important;
}

table {
    .dropdown {
        .dropdown-menu {
            inset: 0 20px auto auto !important;
            will-change: transform !important;

            &.show {
                box-sizing: border-box;
                display: inline-block;
                height: auto;
                min-height: 155px;
                min-width: 180px !important;
                padding: 10px !important;
                transform: translate(5px, 25px) !important;
            }
        }
    }
}
.setting-tab {
    .nav-item {
        .nav-link {
            border-radius:0 !important;
            padding:10px !important;
        border-left:5px solid transparent;
        &.active {
            background: #e0e3ff !important;
            border-left-color: #6571ff !important;
        }
        &:hover{
            background: #e0e3ff;
            border-left-color: #6571ff;
            color: #212529;
        }
        &::after {
            display:none;
        }
        }
    }
}







.sidebar {
    height: 100vh;
    min-height:100%;
width:0;
    position:absolute;
    z-index: 1;
    top: 0px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index:9;
    background-color: white;
    @media (min-width:991px) {
        width: 250px;
        position:relative;
        z-index: 1;
        top: 0px;
    }

  }





  .sidebar .closebtn {
    position: relative;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-bottom: 10px;
    color:#6c757d;
    text-decoration: none;
    text-align:end;
  }

  .openbtn {
    cursor: pointer;
    color: #6c757d;
    border: none;
    margin-bottom: 10px;
  }

  .openbtn:hover {
    background-color: #444;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;

  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
